
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-up-open:before { content: '\e801'; } /* '' */
.icon-call:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */